#head{
background-color: black;
color: white;
width: 100%;

}
#head2{
    background-color: orange;
    margin: auto ;
    width:auto;
    margin-top: -25px;
}
.sidenav {
    top: 200px;
    bottom:10px;
  overflow: scroll;
    height: 40;
    width: 180px;
    position: fixed;
    left: 0;
    background-color: rgb(252, 240, 240);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1; }
#page-wrap {
    width: 800px;
    margin: 0 auto;
}